/* Base styles for all screen sizes */
.full-width-wrapper {
    background-color: #F5F5F5; /* Adjust based on your design */
    width: 100vw; /* Full width of the viewport */
    margin-left: calc(50% - 50vw); /* Center the background color */
    margin-right: calc(0% - 50vw); /* Center the background color */
}

.custom-text-white {
    color: white !important;
}

.custom-home-font {
    color: white;
    font-family: 'Changa', sans-serif;
    /* Replace with your desired font */
    font-size: 18px;
    /* Adjust the font size */
    font-weight: normal;
    /* Adjust the font weight */
    direction: rtl;
    margin: auto;
}


.below-navbar {
    margin-top: 39px;
}


/* Styles for bigger screens */
@media (min-width: 768px) {
    .below-navbar {
        margin-top: 46px;
        margin-left: 10%;
        margin-right: 17%;
    }
}

.custom-card {
    width: 100%;
    background-color: #EBF6FF;
}

.full-width-box {
    background-color: #F5F5F5;
    /* Adjust based on your design */
    padding: 30px;
    /* Adjust padding as needed */
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.custom-card-font {
    color: #1B2F4C;
    font-family: 'Changa', sans-serif;
    /* Replace with your desired font */
    font-size: 18px;
    /* Adjust the font size */
    font-weight: normal;
    /* Adjust the font weight */
    direction: rtl;
    margin: auto;
    margin-right: 2%;
}

@media (max-width: 767.98px) {
    .custom-card-font {
        font-size: 16px;
    }
}

/* Styles for smaller screens */
@media (max-width: 767.98px) {
    .col-pos {
        padding-top: 10%;
        padding-bottom: 3%;
    }
}

.row-pos {
    margin-right: 7px;
    align-items: start;
}

@media (min-width: 768px) {
    .row-pos {
        margin-top: 3%;
        margin-bottom: -50px;   
    }
}

.bottom-row-pos {
    padding-top: 11%;
    margin-right: 7px;
    align-items: center;
}

.left-row-pos {
    margin-right: 7px;
    align-items: start;
}

.bottom-left-row-pos {
    padding-top: 5%;
    margin-right: 7px;
    align-items: end;
}

.dropdown-pos {
    padding-top: 15px;
    font-family: 'Changa', sans-serif;
}



/* styles.css */
.dropdown-pos .dropdown-toggle {
    background-color: white;
    /* Custom background color */
    color: #1B2F4C;
    /* Custom text color */
    text-align: right;
    border-color: white;
    /* Custom border color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Drop shadow effect */
    width: 60%;
}

.dropdown-pos .dropdown-toggle:hover {
    background-color: #1B2F4C;
    /* Custom hover background color */
    color: white;
    /* Custom hover text color */
    border-color: #1B2F4C;
    /* Custom hover border color */
}

.dropdown-pos .dropdown-menu {
    background-color: #f8f9fa;
    /* Custom dropdown menu background color */
    color: #343a40;
    /* Custom dropdown menu text color */
    text-align: right;
}

.custom-dropdown-item:hover,
.custom-dropdown-item:focus,
.custom-dropdown-item.active {
  background-color: #1B2F4C !important;
  color: white !important; /* Optional: Change text color for better contrast */
}

.img-size-medal {
    scale: 0.47;
    align-self: start;   
    margin-top: -60%;
}

@media (max-width: 767.98px) {
    .img-size-medal {
        scale: 0.37;
        margin-top: -12px;
    }
}

.img-size {
    scale: 0.40;
    align-self: start;
}

@media (max-width: 767.98px) {
    .img-size {
        scale: 0.30;
    }
}
