/* Base styles for all screen sizes */
.full-width-wrapper {
    background-color: #e3f2fd; /* Adjust based on your design */
    width: 100vw; /* Full width of the viewport */
    margin-left: calc(50% - 50vw); /* Center the background color */
    margin-right: calc(0% - 50vw); /* Center the background color */
}

.custom-nav-dropdown .dropdown-toggle::after {
    border-top-color: white !important;
}

.custom-text-white {
    color: white !important;
}

.custom-nav {
    background-color: #1B2F4C;
}

.rtl-direction {
    direction: rtl;
}

.full-width-navbar {
    width: 100%;
    position: fixed;
    /* Optional: Fix the navbar at the top of the screen */
    top: 0;
    /* Optional: Ensure it stays at the top */
    left: 0;
    /* Optional: Ensure it starts from the very left of the screen */
    z-index: 1030;
    /* Ensure it stays above other content */
}

.custom-navbar-font {
    color: white;
    font-family: 'Changa', sans-serif;
    /* Replace with your desired font */
    font-size: 18px;
    /* Adjust the font size */
    font-weight: normal;
    /* Adjust the font weight */
    direction: rtl;
    margin-right: auto;
}

.custom-home-font {
    color: white;
    font-family: 'Changa', sans-serif;
    /* Replace with your desired font */
    font-size: 18px;
    /* Adjust the font size */
    font-weight: normal;
    /* Adjust the font weight */
    direction: rtl;
    margin: auto;
}


.below-navbar {
    margin-top: 46px;
}

/* Styles for bigger screens */
@media (min-width: 768px) {
    .below-navbar {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.custom-card {
    width: 100%;
    background-color: #EBF6FF;
}

.full-width-box {
    background-color: #e3f2fd;
    /* Adjust based on your design */
    padding: 30px;
    /* Adjust padding as needed */
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.custom-card-font {
    color: #1B2F4C;
    font-family: 'Changa', sans-serif;
    /* Replace with your desired font */
    font-size: 18px;
    /* Adjust the font size */
    font-weight: normal;
    /* Adjust the font weight */
    direction: rtl;
    margin: auto;
}

/* Styles for smaller screens */
@media (max-width: 767.98px) {
    .col-pos {
        padding-top: 10%;
        padding-bottom: 3%;
    }
}

.row-pos {
    margin-right: 7px;
}

.bottom-row-pos {
    margin-right: 7px;
    padding-top: 3.7%;
}

.left-row-pos {
    margin-right: 7px;
    align-items: end;
}

.bottom-left-row-pos {
    padding-top: 5%;
    margin-right: 7px;
    align-items: end;
}

.dropdown-pos {
    padding-top: 15px;
    font-family: 'Changa', sans-serif;
}

/* styles.css */
.dropdown-pos .dropdown-toggle {
    background-color: #D9EDFF;
    /* Custom background color */
    color: #1B2F4C;
    /* Custom text color */
    text-align: right;
    border-color: #D9EDFF;
    /* Custom border color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Drop shadow effect */
    width: 60%;
}

.dropdown-pos .dropdown-toggle:hover {
    background-color: #1B2F4C;
    /* Custom hover background color */
    color: white;
    /* Custom hover text color */
    border-color: #1B2F4C;
    /* Custom hover border color */
}

.dropdown-pos .dropdown-menu {
    background-color: #f8f9fa;
    /* Custom dropdown menu background color */
    color: #343a40;
    /* Custom dropdown menu text color */
    text-align: right;
}

.intro-text-style {
    direction: rtl;
    text-align: right;
    margin-top: 2%;
    font-family: 'Changa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36;
    color: #1B2F4C;
}

/* Styles for smaller screens */
@media (max-width: 767.98px) {
    .intro-text-style {
        margin-top: 7%;
    }
}

.intro-para-style {
    direction: rtl;
    text-align: right;
    /* margin-top: 7%; */
    font-family: 'Changa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18;
    color: #1B2F4C;
}

.img-size {
    scale: 0.4;
    align-self: center;
}

.img-size-medal {
    scale: 0.47;
    align-self: center;
}